{% extends "ponywhoosh/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
{{ super() }}
<style>
	.container-search{
		text-align: center;
	}
	h1{
		font-size: 600%;
		font-family: 'Bree Serif', serif;
	}
	.btn-avan{
		width: 100px;
		margin-left: 45%;
	}

	#buscador{
		margin-left: 510px;
	}
	@media screen and (max-width: 768px) {
	.title-search {
		font-size:500%;
	}
	.btn-avan {
		margin-left: 30%;
	}
}
</style>
{% endblock %}
{% block title %}flask-ponywhoosh{% endblock %}
{% block page_content %}
<link href='https://fonts.googleapis.com/css?family=Bree+Serif'
	  rel='stylesheet'
	  type='text/css'>
<div class="page-header" style="margin-top: 70px">
	<div class="container container-search">
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<h1 class="title-search">
					Search <small><h4>Welcome To Flask-Ponywhoosh</h4></small>
				</h1>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<form method="POST" action={{action_url_form}} role="search" id="form-search">
		{{ form.hidden_tag() }}

		<div class="row">

  <div class="col-lg-12">
    <div class="input-group">
    	{{form.query( type="text", class="form-control", placeholder="Search for...")}}
      <span class="input-group-btn">
        <button class="btn btn-default btn-go" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
	<br>
	<div class="collapse" id="avanzado">
		<div class="well">
			<div>
				{{form.models.label}} : {{form.models(class= "form-control")}}
			</div>
			<div>
				{{form.fields.label}}:{{form.fields(class= "form-control")}}
			</div>
			<div>
				{{form.except_field.label}}:{{form.except_field(class= "form-control")}}
			</div>
			<div>
				{{form.add_wildcards.label}}:{{form.add_wildcards(class= "css_class")}}
				{{form.something.label}}:{{form.something(class= "css_class")}}
			</div>
			<div >
			<input type="submit" value="Search" id="buscador" class="btn btn-primary">
			</div>
		</div>
	</div>
	<div>
		<a class="btn btn-default btn-avan" href="#avanzado" data-toggle="collapse">
			more
		</a>
	</div>
</form>
</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script>
$('.btn-go').click(function(){
	$('#form-search').submit();
});
</script>
{% endblock %}
